@keyframes hideSplashScreen {
    from {
        opacity:1 ;
    }
    to {
        opacity:0 ;
        visibility: hidden;

    }
}
#splash-screen {
    background-color: var(--third_green);
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 132px;
    animation: hideSplashScreen 0.5s ease-in-out forwards;
    /*--animation-delay: 1s;*/
}